@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: #e9ecf3;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background-color: #d1d3e2;
  border-radius: 20px;
}
body::-webkit-scrollbar-track {
  background-color: #e9ecf3;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.global-nav {
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}
.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.global-nav-links {
  justify-content: space-between;
}
.product-name {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
  font-size: 0.8rem;
}
.scroll-section {
  padding-top: 50vh;
}
